@model IEnumerable<Book>

<div class="row pb-3">
    @foreach (var book in Model)
    {
        <div class="col-md-2 ">
                <a asp-action="Details"  asp-route-id="@book.bookId">
                    <div class="p-0 pb-3">
                        <img src="@book.ImageUrl" class="rounded w-100" alt="@book.title" />
                    </div>
                </a>
        </div>
    }
</div>