@model Category

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-primary bg-gradient m-lg-1 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Edit Category</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" asp-action="Edit">
			<input asp-for="categoryId" hidden />
			<div class="border p-3 mt-4">
				
				@*<div asp-validation-summary="All"></div>*@
				<div class="mb-3">
					<label asp-for="Name"></label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Description"></label>
					<textarea asp-for="Description" class="form-control" ></textarea>
				</div>
				<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
				<a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
					Back to List
				</a>
			</div>
		</form>
	</div>
</div>



@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
			toolbar_mode: 'floating',
		});

		function ValidateInput() {
			if (document.getElementById("uploadBox").value == "") {
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: 'Please upload an Image!',
				});
				return false;
			}
			return true;
		}
	</script>
}